version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: node_server
    ports:
      - "3000:3000"
    environment:
      - MONGO_URL=${MONGO_URL}
    restart: unless-stopped
